@media (max-width: 650px) {
  .slogan-text {
    color: white;
    top: 50%;
    font-size: 30px;
  }

  .grid-images {
    position: relative;
    margin-top: 0px;
    height: 300px;
    width: 100%;
  }

  .photo-size {
    width: 100%;
    height: 100%;
  }

  .firs-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 20px 10px 0px 10px;
    padding: 20px;
  }

  .first-photo-div-info {
    position: relative;
    margin-bottom: 20px;
  }

  .firs-text-grid {
    grid-template-columns: 1fr;
    margin: 20px 0;
  }

  .firs-text-info {
    margin: 20px 0px 0px 0px;
  }

  .first-photo-info img {
    width: auto;
    height: auto;
  }

  .first-photo-bricks {
    height: 125px;
    bottom: -4%;
    left: -3%;
  }

  .text-line {
    width: 10px;
    height: 90%;
    align-self: center;
    background-color: rgb(253, 185, 39);
    border-radius: 4px;
  }

  .text-title {
    font-family: Open Sans, Sans Serif;
    font-size: 23px;
    font-weight: 600;
    padding-top: 0;
  }

  .text-body {
    padding-top: 10px;
  }

  .text-body-info {
    font-weight: 400;
    font-size: auto;
    padding: 0;
  }

  .statistic-info {
    padding-top: 0px;
    padding-bottom: 24px;
  }
  .statistics-grid {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
  }
  .inside-div-statistic-grid {
    grid-template-rows: 70px 1fr;
    padding: 0 0px 0 0px;
    align-items: center;
  }

  .statistic-line {
    height: 1px;
    width: 90%;
    border-radius: 0%;
    padding-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .statistics-value {
    display: contents;
  }
  .statistics-text {
    display: contents;
    height: 69px;
  }
  .statistics-value-text {
    font-size: 67px;
    font-weight: 600;
    color: rgb(8, 22, 59);
    line-height: 69px;
  }
  .statistics-text {
    font-size: 16px;
    font-weight: 400;
    padding-top: 40px;
  }

  .recent-projects-body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .button-cover {
    flex: 1;
  }
  .recent-projects-top {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .title-cover-text {
    text-align: center;
    font-size: 51px;
  }
  .title-cover {
    align-items: center;
  }
  .projects {
    grid-template-rows: 200px 1fr;
  }
  .button-view-all {
    left: 15%;
  }

  .services-kind-grid {
    gap: 0px;
  }
  .service-kind-items {
    margin: 10px 5px;
  }
  .services-grid {
    grid-template-rows: 100px 1fr;
  }

  .service-kind-items-photo {
    width: 70px;
    margin-right: 15px;
  }

  .services-kind-up-text {
    font-size: 30px;
    width: 150px;
  }
  .services-kind-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: contents;
  }
  .services-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin: 10px 0px;
  }
}
@media (min-width: 651px) and (max-width: 960px) {
  .firs-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 20px 10px;
    padding: 20px;
  }

  .first-photo-div-info {
    position: relative;
    margin-bottom: 20px;
  }

  .firs-text-grid {
    grid-template-columns: 1fr;
    margin: 20px 0;
  }

  .firs-text-info {
    margin: 20px 10px;
  }

  .first-photo-info img {
    width: auto;
    height: auto;
  }

  .first-photo-bricks {
    height: 200px;
    bottom: -4%;
    left: -3%;
  }

  .text-line {
    width: 10px;
    height: 90%;
    align-self: center;
    background-color: rgb(253, 185, 39);
    border-radius: 4px;
  }

  .text-title {
    font-family: Open Sans, Sans Serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .text-body {
    padding-top: 0;
  }

  .text-body-info {
    font-weight: 400;
    font-size: auto;
    padding: 0;
  }
  .services-kind-grid {
    gap: 0px;
  }
  .service-kind-items {
    margin: 10px 15px;
  }

  .service-kind-items-photo {
    width: 90px;
    margin-right: 15px;
  }

  .services-kind-up-text {
    font-size: 25px;
  }
  .services-uper-title {
    color: rgb(8, 22, 59);
    font-size: 40px;
    font-weight: 500;
    font-family: Teko, sans-serif;
    text-align: center;
  }
}

@media (min-width: 961px) and (max-width: 1340px) {
  .firs-info {
    grid-template-columns: 1fr 1fr;
    margin: 20px 40px;
    padding: 20px;
  }

  .first-photo-div-info {
    position: relative;
    margin-bottom: 20px;
  }

  .firs-text-grid {
    grid-template-columns: 40px 1fr;
    margin: 20px 0;
  }

  .firs-text-info {
    margin: 20px 10px;
  }

  .first-photo-info img {
    width: auto;
    height: auto;
  }

  .first-photo-bricks {
    height: 50%;
    bottom: -7%;
    left: -6%;
  }

  .text-line {
    width: 10px;
    height: 90%;
    align-self: center;
    background-color: rgb(253, 185, 39);
    border-radius: 4px;
  }

  .text-title {
    font-family: Open Sans, Sans Serif;
    font-size: 25px;
    font-weight: 600;
    padding-top: 0px;
  }

  .text-body-info {
    padding-top: 0px;
    font-weight: 400;
    font-size: auto;
  }
  .services-kind-grid {
    gap: 10px;
  }
  .service-kind-items {
    margin: 10px 10px;
  }
}

@media (min-width: 1701px) and (max-width: 2700px) {
  .grid-images {
    margin-top: 0px;
  }
  .firs-info {
    grid-template-columns: 1fr 1fr;
    margin: 20px 40px;
    padding: 20px;
  }
  .grid-images {
    margin-top: 0px;
    height: 90%;
    width: 100%;
  }
  .slogan-text {
    top: 50%;
    font-size: 120px;
  }
  .first-photo-div-info {
    position: relative;
    margin-bottom: 20px;
  }

  .firs-text-grid {
    grid-template-columns: 40px 1fr;
    margin: 20px 0;
  }

  .firs-text-info {
    margin: 20px 10px;
  }

  .first-photo-bricks {
    height: 60%;
    bottom: -7%;
    left: -4%;
  }

  .text-line {
    width: 10px;
    height: 90%;
    align-self: center;
    background-color: rgb(253, 185, 39);
    border-radius: 4px;
  }

  .text-title {
    font-size: 45px;
    font-weight: 600;
    padding-top: 10px;
  }

  .text-body-info {
    padding-top: 40px;
    font-weight: 400;
    font-size: 45px;
  }

  .statistic-info {
    padding-top: 84px;
    padding-bottom: 94px;
  }

  .statistics-grid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inside-div-statistic-grid {
    width: 480px;
    height: 204px;
    display: grid;
    grid-template-rows: 90px 1fr;
    padding: 40px 5px 0 20px;
  }
  .statistic-line {
    width: 1px;
    height: 200px;
    opacity: 0.7;
    border-radius: 100%;
  }
  .statistics-value-text {
    font-size: 89px;
  }
  .statistics-text {
    font-size: 26px;
  }
  .title-cover-text {
    font-size: 75px;
    padding-left: 10%;
    padding-bottom: 45%;
  }
  .button-view-all {
    font-size: 40px;
    padding: 10px 30px;
  }
  .service-kind-items-photo {
    width: 180px;
  }
  .services-kind-up-text {
    font-size: 70px;
  }
  .services-uper-title {
    font-size: 100px;
  }
  .services-grid {
    grid-template-rows: 200px 200px;
  }
  .recent-project-title {
    font-size: 70px;
  }
  .recent-project-view-project-button {
    font-size: 40px;
  }
  .text-body {
    align-items: center;
    justify-items: center;
  }
}
