.home-header {
  background-color: rgb(255, 255, 255);
  color: black;
  display: grid;
  grid-template-columns: 540px 1fr;
  align-items: center;
  height: 120px;
  z-index: 200;
}


.home-header-top-selection {
  grid-column: 1 / span 2;
  height: 40px;
  background-color: rgb(35, 31, 32);
}

.home-left-and-right-header, .logo-link {
  display: contents;
}

.home-header-left-selection {
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
}

.home-header-right-selection {
  height: 80px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-left: 200px;
}

.arra-zef-logo-1 {
  position: relative;
  width: 280px;
  height: 80px;
  left: 0px;
  top: 8px;
  object-fit: cover;
}

.arra-zef-logo-2 {
  position: relative;
  width: 280px;
  height: 80px;
  left: -270px;
  top: 6px;
  object-fit: cover;
}

.arra-zef-logo {
  margin: 5px 10px;
  margin-top: 5px;
  background-color: transparent;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
}

.services-text, .projetct-text, .about-text, .contact-text {
  color: black;
  text-align: center;
  font-weight: 500;
  padding: 20px 40px;
  font-family: Open Sans;
  transition: border-radius 0.5s, background-color 1.5s;
}

.services-text:hover, .projetct-text:hover, .about-text:hover, .contact-text:hover {
  color: black;
  background-color: rgb(74, 73, 107);
  text-align: center;
  border-radius: 25%;
 
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
}

.f1 {
  top: 10px;
  right: 20px;
}

.f2 {
  top: 10px;
  right: 60px;
}

.fa:hover {
  opacity: 0.7;
}

