.contact-top {
  display: grid;
  grid-template-rows: 1fr;
  height: 350px;
  width: 100%;
  position: relative;
}
.contact-us-top-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.contact-top-contact-us-slogan {
  position: absolute;
  top: 7%;
  left: 13%;
  font-size: 22px;
  font-weight: 700;
  font-family: Open sans, sans-serif;
  color: rgb(198, 93, 7);
}
.contact-us-title {
  position: absolute;
  top: 17%;
  left: 13%;
  font-size: 51px;
  font-weight: 700;
  font-family: Open sans, sans-serif;
  color: rgb(198, 93, 7);
}
.form-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 40px;
  align-items: center;
  height: 700px;
  justify-content: space-between;
  column-gap: 25px;
}
.form-left {
  flex: 1;
  display: contents;
}
.form-image {
  height: 500px;
  width: auto;
  border-radius: 5px;
}
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 55px;
}
.form-phone-text,
.form-subject,
.form-message-title,
.form-email-text,
.form-name {
  font-weight: 500;
}
.form-message-text {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  max-height: 30px;
  resize: vertical;
  padding: 5px 10px;
  text-transform: capitalize;
}
.form-message-text::placeholder {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.form-message-text-text {
  flex: 1;
  font-size: 16px;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  overflow-y: auto;
  text-align: left;
  justify-content: top;
  text-transform: capitalize;
}
.form-container-text {
  flex: 3;
  display: flex;
  flex-direction: column;
  max-height: 250px;
}
.form-message-title {
  height: 25px;
}
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.form-button {
  width: 100%;
  background-color: rgb(255, 193, 42);
  color: rgb(8, 22, 59);
  font-size: 18px;
  font-weight: 500;
  font-family: Teko, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-color: none;
  border-width: 0px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 12px;
}
.form-button:active {
  opacity: 0.8;
}
.contact-trio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  column-gap: 20px;
  padding: 10px 30px;
  overflow: hidden;
}
.contact-left-div,
.contact-center-div,
.contact-right-div {
  flex: 1;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 15px 10px;
}
.contact-left-div:hover,
.contact-center-div:hover,
.contact-right-div:hover {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.8);
}
.faw {
  background-color: rgb(195, 177, 133);
  color: rgb(255, 193, 42);
  font-size: 25px !important;
  padding: 10px 10px;
  border-radius: 50%;
}
.constact-title {
  font-family: Teko, sans-serif;
  color: grey;
  font-size: 50px;
}
.contact-body {
  font-family: Teko, sans-serif;
  font-size: 40px;
  color: rgb(8, 22, 59);
  text-wrap: nowrap;
}
.email3,
.phone-number3,
.address3 {
  color: rgb(8, 22, 59);
}
