@media (max-width: 650px) {
  .home-header {
    grid-template-columns: 1fr;
    height: 80px;
  }

  .home-header-top-selection {
    height: 30px;
  }
  .home-header-left-selection {
    width: 100px; /* Adjusted width */
    text-align: center;
    padding-left: 5px;
    height: 50px;
  }
  .home-left-and-right-header {
    height: 50px;
    padding-right: 15px;
  }

  .home-header-right-selection {
    flex-direction: row; /* Keep items in a row */
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 150px;
    padding-right: 0px;
  }

  .logo-photos {
    width: 100px;
    height: 50px; /* Adjusted width */
  }

  .arra-zef-logo-1,
  .arra-zef-logo-2 {
    width: 100px;
    height: 60px;
  }

  .arra-zef-logo-1 {
    left: 0px;
    top: 0px;
  }

  .arra-zef-logo-2 {
    left: 4px;
    top: 0px;
  }
  .services-text,
  .projetct-text,
  .about-text,
  .contact-text {
    color: rgb(0, 0, 0);
    font-size: 12px !important; /* Adjust font size for smaller screens */
    padding: 0px;
    margin: 0 0px; /* Adjust spacing between text items */
  }

  .header-link {
    padding: 0;
    display: contents;
    font-size: 12px !important;
  }
  .f1 {
    top: 0.5%;
    right: 2%;
  }
  .f2 {
    top: 0.7%;
    right: 10%;
  }
  .phone-number {
    right: 20%;
    top: 1%;
  }
  .fab {
    font-size: 19px;
  }
}
@media (min-width: 651px) and (max-width: 800px) {
  .home-header {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .home-header-left-selection {
    width: 100px; /* Adjusted width */
    text-align: center;
    padding-left: 10px;
  }

  .home-header-right-selection {
    flex-direction: row; /* Keep items in a row */
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    width: 350px;
  }

  .logo-photos {
    width: 250px; /* Adjusted width */
  }

  .arra-zef-logo-1,
  .arra-zef-logo-2 {
    width: 250px;
  }

  .services-text,
  .projetct-text,
  .about-text,
  .contact-text {
    color: rgb(0, 0, 0);
    font-size: 16px !important; /* Adjust font size for smaller screens */
    padding: 0px;
    margin: 0 5px; /* Adjust spacing between text items */
  }

  .header-link {
    padding: 0;
    display: contents;
    align-items: end;
  }
  .fab {
    font-size: 19px !important;
  }
  .f1 {
    right: 1%;
  }
}
@media (min-width: 901px) and (max-width: 1700px) {
  .home-header {
    grid-template-columns: 540px 1fr;
    height: 170px;
  }

  .home-header-top-selection {
    height: 60px;
  }

  .home-left-and-right-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 2;
  }

  .logo-link {
    display: contents;
  }

  .home-header-left-selection {
    height: 110px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding-left: 0px;
  }

  .home-header-right-selection {
    gap: 25px;
    width: 700px;
    min-width: 225px;
  }

  .logo-photos {
    width: 515px;
    height: 130px;
    position: relative;
  }
  .arra-zef-logo-1,
  .arra-zef-logo-2 {
    width: 320px;
    height: 130px;
    top: 8%;
  }
  .services-text,
  .projetct-text,
  .about-text,
  .contact-text {
    color: rgb(0, 0, 0);
    font-size: 19px; /* Adjust font size for smaller screens */
  }

  .header-link {
    padding: 5px 15px;
  }
  .phone-number {
    font-size: 19px;
    top: 2.5%;
  }
  .f1,
  .f2 {
    height: 20px;
    width: 20px;
    top: 2.5%;
    font-size: 19px !important;
  }
}
@media (min-width: 1701px) and (max-width: 2700px) {
  .home-header {
    grid-template-columns: 540px 1fr;
    height: 200px;
  }

  .home-header-top-selection {
    height: 60px;
  }

  .home-left-and-right-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 2;
  }

  .logo-link {
    display: contents;
  }

  .home-header-left-selection {
    height: 140px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
  }

  .home-header-right-selection {
    gap: 35px;
    width: 1000px;
    min-width: 225px;
  }

  .logo-photos {
    width: 615px;
    height: 140px;
    position: relative;
  }
  .arra-zef-logo-1,
  .arra-zef-logo-2 {
    width: 470px;
    height: 140px;
    top: 10%;
  }

  .services-text,
  .projetct-text,
  .about-text,
  .contact-text {
    color: rgb(0, 0, 0);
    font-size: 29px; /* Adjust font size for smaller screens */
  }

  .header-link {
    padding: 10px 50px;
  }
  .phone-number {
    font-size: 29px;
  }
  .f1,
  .f2 {
    height: 40px;
    width: 40px;
    font-size: 29px !important;
  }
}
